aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
colorama
dataclasses-json
fastapi
filelock
frozenlist
fsspec
greenlet
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langsmith
marshmallow
multidict
mypy-extensions
numpy
orjson
packaging
propcache
pydantic
pydantic-core
pydantic-settings
python-dotenv
pyyaml
requests
requests-toolbelt
sniffio
sqlalchemy
starlette
tenacity
tokenizers
tqdm
typing-extensions
typing-inspect
typing-inspection
urllib3
yarl
zstandard
sentence-transformers
