chromadb
fastapi
filelock
filetype
flatbuffers
huggingface-hub
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langdetect
langsmith
numpy
oauthlib
olefile
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
pypdf
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
transformers
uvicorn
watchfiles
webencodings
websocket-client
websockets
wheel