fastapi
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langchain_openai
langsmith
multidict
uvicorn[standard]
python-multipart
pydantic_settings
pathlib
pypdf
#chromadb
langchain_chroma